{% extends 'crud/base.html'%}
{% block content %}
    <h2>Log in </h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" value="Log In">
    </form>
    <p>Don't have an account?<a href="{% url 'signup' %}"> Sign Up</a></p>
{% endblock content %}