{% extends 'crud/base.html'%}
{% block content %}
    <h2>New Student</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" value="Add New">

    </form>
{% endblock content %}