<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD BLOG</title>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?
    family=Source+Sans+Pro:400"
          rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">CRUD BLOG</a></h1>
    </div>

</header>
{% if user.is_authenticated %}
    <p> Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p><a href="{% url 'login' %}">Log In</a></p>

{% endif %}
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>