{% extends 'crud/base.html' %}
{% block content %}
    <h2>Delete Log!</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <p>Are you want to delete "{{ object.name }}"?</p>
    <input type="submit" value="YES">

    </form>
{% endblock content %}