{% extends 'crud/base.html' %}
{% block content %}
    <div class="post-entry">
        <h3><a href="">{{ object.name }}</a></h3>
        <p>{{ 'ID: ' }}{{ object.student_id }}</p>
        <p>{{ 'Department: ' }}{{ object.department }}</p>
        <p>{{ 'Intake: ' }}{{ object.intake }}</p>

    </div>

    <a href="{% url 'update' object.pk %}">Update </a></br>
    <a href="{% url 'delete' object.pk %}">Delete</a>

{% endblock content %}
