{% extends 'crud/base.html' %}
{% block content %}
        <a href="{% url 'add_new' %}"> Add New</a>
    {% for student in object_list %}
 <div class="post-entry">
    <h3> <a href="{% url 'detail' student.pk %}">{{ student.name }}</a></h3>
 </div>
    {% endfor %}
{% endblock content %}