{% extends 'crud/base.html' %}
{% block content %}
    <h2>Edit Details</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">

    </form>
{% endblock content %}